<%= form_for([post, post.comments.build], remote:true) do |f| %>
  <div class="comment-form-container">
    <%= f.text_field :content, :class => 'caption-input comment-content', id: "comment_content_#{post.id}", placeholder: "Leave a comment..." %>
    <%= f.button :submit, :class => 'button-sm' %>
  </div>
<% end %>